<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<form method="get" action="/poke-search">
  <div>Search for a pokebuddy</div>

  <label>
    <input name="pokeName" type="text" />
  </label>

  <button type="submit">Search</button>
</form>